@font-face {
    font-family: "Scriptina";
    src: local("Scriptina"),
        url("../Fonts/Scriptina/SCRIPTIN.ttf") format("truetype");
}

.Scriptina_font {
    font-family: "Scriptina";
    
}

.text_skew {
    transform: skew(-5deg,-15deg) ;
}

.Neon_Effects{
    text-shadow:    0 0 10px rgb(103 232 249 / 1),
                    0 0 20px rgb(103 232 249 / 1),
                    0 0 40px rgb(103 232 249 / 1),
                    0 0 80px rgb(103 232 249 / 1),
                    0 0 120px rgb(103 232 249 / 1);
}