.Mu_player{
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    width: max-content;
    /* background-color: rgba(7, 0, 37, 0.5); */
    border-radius: 2rem;
    padding: 10px 50px;
    margin: 0;
    box-sizing: border-box;
    position: fixed;
    top: 30px;
    right: 40px;
    
}

.Mu_player .expand {
    position:fixed;
    right: 20px;
    top: 15px;
    font-size: x-large;
    z-index: 3;
}

.Mu_player .Mu_des {
    text-align: center;
}

.Mu_player_buttons {
    margin-top: 35px;
    font-size: x-large;
    display: flex;
    gap: 20px;
}

.play {
    font-size: 28px;
}

.bi {
    font-size: 35px;
}