@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(196, 196, 196);
}

::-webkit-scrollbar {
    display: none;
}

.warning {
    position: fixed;
    right: 0;
}

.Neon_Effects{
    text-shadow:    0 0 10px rgb(103 232 249 / 1),
                    0 0 20px rgb(103 232 249 / 1),
                    0 0 40px rgb(103 232 249 / 1),
                    0 0 80px rgb(103 232 249 / 1),
                    0 0 120px rgb(103 232 249 / 1);
}