@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(196, 196, 196);
}

::-webkit-scrollbar {
    display: none;
}

.warning {
    position: fixed;
    right: 0;
}

.Neon_Effects{
    text-shadow:    0 0 10px rgb(103 232 249 / 1),
                    0 0 20px rgb(103 232 249 / 1),
                    0 0 40px rgb(103 232 249 / 1),
                    0 0 80px rgb(103 232 249 / 1),
                    0 0 120px rgb(103 232 249 / 1);
}

.Section_Heading{
    color: transparent;
    font-size: 35px;
    text-align: center;
    stroke: rgb(207 250 254 / 1);
    stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(207 250 254 / 1);
}

@media (min-width: 1024px){
    .Section_Heading{
        font-size: 60px;
    }
}

.log{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 5;
}